{% extends "main/base.html" %}
{% load static %}
{% block title  %}{{ good.brand }} - {{ good.name }}{% endblock  %}
  



<!-- main-area -->
{% block content %}
    <!-- breadcrumb-area -->
   
    
    <div class="video-shape one"><img src="{% static "img/others/video_shape01.png" %}" alt="shape"></div>
    <div class="video-shape two"><img src="{% static "img/others/video_shape02.png" %}" alt="shape"></div>

<!-- breadcrumb-area-end -->

<!-- shop-details-area -->
<section class="inner-shop-details-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="inner-shop-details-flex-wrap">
                    <div class="inner-shop-details-img-wrap">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane show active" id="item-one" role="tabpanel" aria-labelledby="item-one-tab">
                                <div class="inner-shop-details-img">
                                    <img src="{{ good.image.url }}" alt="img">
                                </div>
                            </div>
                            <div class="tab-pane" id="item-two" role="tabpanel" aria-labelledby="item-two-tab">
                                <div class="inner-shop-details-img">
                                    <img src="assets/img/products/shop-details-thumb02.png" alt="img">
                                </div>
                            </div>
                            <div class="tab-pane" id="item-three" role="tabpanel" aria-labelledby="item-three-tab">
                                <div class="inner-shop-details-img">
                                    <img src="assets/img/products/shop-details-thumb03.png" alt="img">
                                </div>
                            </div>
                            <div class="tab-pane" id="item-four" role="tabpanel" aria-labelledby="item-four-tab">
                                <div class="inner-shop-details-img">
                                    <img src="assets/img/products/shop-details-thumb04.png" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-shop-details-nav-wrap">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a href="#" class="nav-link active" id="item-one-tab" data-bs-toggle="tab" data-bs-target="#item-one" role="tab" aria-controls="item-one" aria-selected="true"><img src="assets/img/products/shop-details-thumb01.png" alt=""></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#" class="nav-link" id="item-two-tab" data-bs-toggle="tab" data-bs-target="#item-two" role="tab"
                                aria-controls="item-two" aria-selected="false"><img src="assets/img/products/shop-details-thumb02.png" alt=""></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#" class="nav-link" id="item-three-tab" data-bs-toggle="tab" data-bs-target="#item-three" role="tab"
                                aria-controls="item-three" aria-selected="false"><img src="assets/img/products/shop-details-thumb03.png" alt=""></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="#" class="nav-link" id="item-four-tab" data-bs-toggle="tab" data-bs-target="#item-four" role="tab" aria-controls="item-four" aria-selected="false"><img src="assets/img/products/shop-details-thumb04.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="inner-shop-details-content">
                    <h4 class="title">{{ good.name }}</h4>
                    <div class="inner-shop-details-meta">
                        <ul class="list-wrap">
                            <li>Brands : <a href="shop.html">{{ good.brand }}</a></li>
                            <li class="inner-shop-details-review">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <span>(4.5)</span>
                            </li>
                            <li>ID : <span>{{good.id}}</span></li>
                        </ul>
                    </div>
                    <div class="inner-shop-details-price">
                        <h2 class="price">${{ good.price }}</h2>
                        
                        <h5 class="stock-status">- {% if good.stock > 0 %}IN Stock{% else %}NOT IN Stock {% endif %} ({{ good.stock }})</h5>
                    </div>

                    <div class="inner-shop-perched-info">
                        <div class="sd-cart-wrap">
                            <form action="#">
                                <div class="quickview-cart-plus-minus">
                                    <input type="text" value="1">
                                </div>
                            </form>
                        </div>
                        <a href="#" class="cart-btn">add to cart</a>
                        <a href="shop-details.html" class="wishlist-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="inner-shop-details-bottom">
                        
                        <span>
                            <span>Category:
                            
                            <a href="{{ good.category.get_absolute_url }}">{{ good.category}}</a>
    
                        </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-desc-wrap">
                    <ul class="nav nav-tabs" id="myTabTwo" role="tablist">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="information-tab" data-bs-toggle="tab" data-bs-target="#information" role="tab" aria-controls="information" aria-selected="false">Additional information</a>
                        </li>
                        
                       
                        <li class="nav-item">
                            <a href="#" class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" role="tab" aria-controls="review" aria-selected="false">Reviews (3)</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContentTwo">
                        <div class="tab-pane fade show active" id="description" role="tabpanel"
                            aria-labelledby="description-tab">
                            <div class="product-desc-content">
                                {{ good.description }}
                            </div>
                        </div>
                        
                        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                            <div class="product-desc-content">
                                <div class="reviews-comment">
                                    <div class="review-info">
                                        <div class="review-img">
                                            <img src="assets/img/others/p_review_img01.jpg" alt="">
                                        </div>
                                        <div class="review-content">
                                            <ul class="review-rating list-wrap">
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                            </ul>
                                            <div class="review-meta">
                                                <h6>Chenai Simon <span>-May 12, 2022</span></h6>
                                            </div>
                                            <p>There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of lorem ipsum.</p>
                                        </div>
                                    </div>
                                    <div class="review-info">
                                        <div class="review-img">
                                            <img src="assets/img/others/p_review_img02.jpg" alt="">
                                        </div>
                                        <div class="review-content">
                                            <ul class="review-rating list-wrap">
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </li>
                                            </ul>
                                            <div class="review-meta">
                                                <h6>Finn Castaneda <span>-June 17, 2022</span></h6>
                                            </div>
                                            <p>There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of lorem ipsum.</p>
                                        </div>
                                    </div>
                                    <div class="review-info">
                                        <div class="review-img">
                                            <img src="assets/img/others/p_review_img03.jpg" alt="">
                                        </div>
                                        <div class="review-content">
                                            <ul class="review-rating list-wrap">
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </li>
                                            </ul>
                                            <div class="review-meta">
                                                <h6>Bayley Robertson <span>-May 28, 2022</span></h6>
                                            </div>
                                            <p>There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of lorem ipsum.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-review">
                                    <h4 class="title">Add a review</h4>
                                    <form action="#">
                                        <p>Your email address will not be published.Required fields are marked <span>*</span></p>
                                        <div class="from-grp">
                                            <label for="name">Your name <span>*</span></label>
                                            <input type="text" id="name">
                                        </div>
                                        <div class="from-grp">
                                            <label for="email">Your email <span>*</span></label>
                                            <input type="text" id="email">
                                        </div>
                                        <div class="from-grp checkbox-grp">
                                            <input type="checkbox" id="checkbox">
                                            <label for="checkbox">Don’t show your email address</label>
                                        </div>
                                        <div class="form-rating">
                                            <label>your rating</label>
                                            <ul class="list-wrap">
                                                <li>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="from-grp">
                                            <label for="comment">Write Your review <span>*</span></label>
                                            <textarea id="comment" cols="30" rows="10"></textarea>
                                        </div>
                                        <button class="btn">Submit Now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shop-details-area-end -->

<!-- related-products -->
<div class="related-products-area pb-120">
    <div class="container">
        <div class="related-products-wrap">
            <h2 class="title">Related Products</h2>
            <div class="row related-product-active">
                <div class="col-xl-3">
                    <div class="home-shop-item">
                        <div class="home-shop-thumb">
                            <a href="shop-details.html">
                                <img src="assets/img/products/home_shop_thumb01.png" alt="img">
                                <span class="discount"> -15%</span>
                            </a>
                            <div class="shop-thumb-shape"></div>
                        </div>
                        <div class="home-shop-content">
                            <h4 class="title"><a href="shop-details.html">Box Full of Muscles</a></h4>
                            <span class="home-shop-price">$85.99</span>
                            <div class="home-shop-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="total-rating">(30)</span>
                            </div>
                            <div class="shop-content-bottom">
                                <a href="#" class="cart"><i class="flaticon-shopping-cart-1"></i></a>
                                <a href="#" class="btn btn-two">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="home-shop-item">
                        <div class="home-shop-thumb">
                            <a href="shop-details.html">
                                <img src="assets/img/products/home_shop_thumb02.png" alt="img">
                            </a>
                            <div class="shop-thumb-shape yellow"></div>
                        </div>
                        <div class="home-shop-content">
                            <h4 class="title"><a href="shop-details.html">Protein Powder 2kg</a></h4>
                            <span class="home-shop-price">$55.99</span>
                            <div class="home-shop-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="total-rating">(30)</span>
                            </div>
                            <div class="shop-content-bottom">
                                <a href="#" class="cart"><i class="flaticon-shopping-cart-1"></i></a>
                                <a href="#" class="btn btn-two">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="home-shop-item">
                        <div class="home-shop-thumb">
                            <a href="shop-details.html">
                                <img src="assets/img/products/home_shop_thumb03.png" alt="img">
                                <span class="discount"> -15%</span>
                            </a>
                            <div class="shop-thumb-shape purple"></div>
                        </div>
                        <div class="home-shop-content">
                            <h4 class="title"><a href="shop-details.html">Amino Energy Health 2kg</a></h4>
                            <span class="home-shop-price">$79.99</span>
                            <div class="home-shop-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="total-rating">(24)</span>
                            </div>
                            <div class="shop-content-bottom">
                                <a href="#" class="cart"><i class="flaticon-shopping-cart-1"></i></a>
                                <a href="#" class="btn btn-two">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="home-shop-item">
                        <div class="home-shop-thumb">
                            <a href="shop-details.html">
                                <img src="assets/img/products/home_shop_thumb04.png" alt="img">
                            </a>
                            <div class="shop-thumb-shape gray"></div>
                        </div>
                        <div class="home-shop-content">
                            <h4 class="title"><a href="shop-details.html">Antiaging and Longevity</a></h4>
                            <span class="home-shop-price">$79.99</span>
                            <div class="home-shop-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="total-rating">(24)</span>
                            </div>
                            <div class="shop-content-bottom">
                                <a href="#" class="cart"><i class="flaticon-shopping-cart-1"></i></a>
                                <a href="#" class="btn btn-two">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3">
                    <div class="home-shop-item">
                        <div class="home-shop-thumb">
                            <a href="shop-details.html">
                                <img src="assets/img/products/home_shop_thumb05.png" alt="img">
                            </a>
                            <div class="shop-thumb-shape blue"></div>
                        </div>
                        <div class="home-shop-content">
                            <h4 class="title"><a href="shop-details.html">SERIOUR MASS 2kg</a></h4>
                            <span class="home-shop-price">$39.99</span>
                            <div class="home-shop-rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="total-rating">(12)</span>
                            </div>
                            <div class="shop-content-bottom">
                                <a href="#" class="cart"><i class="flaticon-shopping-cart-1"></i></a>
                                <a href="#" class="btn btn-two">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- related-products-end -->



{% endblock %}

    

