{% extends "main/base.html" %}
{% load static %}


        


        <!-- main-area -->
        {% block content %}
    
        <!-- breadcrumb-area -->

            <div class="container">
                <div class="row justify-content-center">
                    
                            <h2 class="title" align="center" > Suxnix - shop of power supplements. </h2>
                            
                    
                </div>
            </div>
            <div class="video-shape one"><img src="{% static "img/others/video_shape01.png" %}" alt="shape"></div>
            <div class="video-shape two"><img src="{% static "img/others/video_shape02.png" %}" alt="shape"></div>

        <!-- breadcrumb-area-end -->

        <div class="inner-shop-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-md-8 col-sm-8">
                        <aside class="shop-sidebar">
                            <div class="widget">
                                <h4 class="sidebar-title">Filter by Price</h4>
                                <div class="price_filter">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <span>Price :</span>
                                        <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                        <input type="submit" class="btn" value="Filter">
                                    </div>
                                </div>
                            </div>
                            <div class="widget">
                                <h4 class="sidebar-title">CATEGORIES</h4>
                                <ul class="categories-list list-wrap">
                                    {% for cat in categories %}
                                        {% if cat == category %}
                                        <li  ><a href="{{ cat.get_absolute_url }}">{{ cat }} <i class="fas fa-angle-double-right "></i></a><span class="bg-success d-block" style="border-radius: 1px; height: 2px; width: 100%;"></span></li>
                                        
                                        {% else %} <li> <a href="{{ cat.get_absolute_url }}">{{ cat }} <i class="fas fa-angle-double-right "></i></a></li>
                                        {% endif %}
                                    {% endfor %}

                                   
                                   
                                </ul>
                            </div>
                            {% if latest_products %}
                            <div class="widget">
                                <h4 class="sidebar-title">LATEST VIEWED PRODUCTS</h4>
                                <div class="lp-post-list">
                                    <ul class="lp-post-item list-wrap">
                                        {% for product in latest_products %}
                                            <li>
                                            <div class="lp-post-thumb">
                                                <a href="{{ product.url }}"><img src="{{ product.image_url }}" alt="img"></a>
                                            </div>
                                            <div class="lp-post-content">
                                                <ul class="lp-post-rating list-wrap">
                                                    <li>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </li>
                                                </ul>
                                                <h4 class="title"><a href="{{ product.url }}">{{ product.title }} </a></h4>
                                                <span class="price">${{ product.price }}</span>
                                            </div>
                                        </li>

                                        {% endfor %}
                                                                            </ul>
                                </div>
                            </div>
                            {% endif %}
                            <div class="widget">
                                <h4 class="sidebar-title">Product tags</h4>
                                <ul class="Product-tag-list list-wrap">
                                    <li><a href="shop.html">Bone Support</a></li>
                                    <li><a href="shop.html">Energy Support</a></li>
                                    <li><a href="shop.html">Hair</a></li>
                                    <li><a href="shop.html">Multivitamins</a></li>
                                    <li><a href="shop.html">Pre-Workout</a></li>
                                    <li><a href="shop.html">Protein</a></li>
                                    <li><a href="shop.html">Skin & Nails</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-xl-9 col-lg-8 col-md-12 col-sm-8 shop-sidebar-pad order-first">
                        <div class="shop-top-wrap">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="shop-top-left">
                                        {% if page_obj.paginator.count < 1 %}
                                        <p class="woocommerce-result-count shop-show-result">Showing {{ page_obj.paginator.count }} results</p>
                                        {% else %}
                                        <p class="woocommerce-result-count shop-show-result">Showing 1-6 of {{ page_obj.paginator.count }} results</p>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="shop-top-right selection">
                                        <form class="woocommerce-ordering mb-0" method="get">
                                            <select id="shortBy" name="orderby" class="orderby form-select" aria-label="Shop order">
                                                <option value="menu_order" selected="selected">Default sorting</option>
                                                <option value="popularity">Sort by popularity</option>
                                                <option value="rating">Sort by average rating</option>
                                                <option value="date">Sort by latest</option>
                                                <option value="price">Sort by price: low to high</option>
                                                <option value="price-desc">Sort by price: high to low</option>
                                            </select>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="suxnix-shop-product-main">
                            <div class="row">
                                {% for good in page_obj.object_list %}
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="home-shop-item inner-shop-item">
                                            <div class="home-shop-thumb">
                                                <a href="{{ good.get_absolute_url }}">
                                                    <img src="{{ good.image.url }}" alt="img">
                                                    <span class="discount"> -15%</span>
                                                </a>
                                            </div>
                                            
                                            <div class="home-shop-content">
                                                <div class="shop-item-cat"><a href="#">Nutrition</a></div>
                                                <h4 class="title"><a href="{{ good.get_absolute_url }}">{{ good.name }}</a></h4>
                                                <span class="home-shop-price">${{ good.price }}</span>
                                                <div class="home-shop-rating">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star-half-alt"></i>
                                                    <span class="total-rating">(20)</span>
                                                </div>
                                                <div class="shop-content-bottom">
                                                    <a  id="cart-toast" data-product-id="{{ good.id }}" class="cart"><i class="flaticon-shopping-cart-1"></i></a>
                                                    <a href="#" class="btn btn-two">Buy Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            {% if page_obj.has_other_pages %}
                            <div class="pagination-wrap">
                                <ul class="list-wrap">
                                    {% if page_obj.has_previous %}
                                        <li class="prv-next">
                                            <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a>
                                        </li>
                                    {% endif %}
                                    
                                    {% for p in page_obj.paginator.page_range %}
                                    {% if page_obj.number == p %}
                                    <li><a href="?page={{ p }}" class="current">{{p}}</a></li>
                                    {% else %}
                                    <li><a href="?page={{ p }}">{{p}}</a></li>
                                    {% endif %}
                                        
        
                        
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="prv-right">
                                            <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-double-right"></i></a>
                                        </li>
                                    {% endif %}
                                    
                                </ul>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <img src="{% static "img/favicon.png" %}" class="rounded me-2" alt="...">
                <strong class="me-auto">Suxnix</strong>
                
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
                </div>
                <div class="toast-body">
                     You success added product in cart
                </div>
            </div>
        </div>

        
        {% endblock content %}
        <!-- main-area-end -->



</html>
